<html>
  <head>
    <title>Nous contacter</title>
  </head>
  <body>
    <div class="container py-3 text-center">
      <h1>Hésitez pas à nous contacter via l'adresse email suivante :</h1>
      <br>
      <h3>commesijallaisvousrepondre@danstesreves.com</h3>
      <br>
    </div>
  </body>
</html>
