<html>
  <head>
    <title>L'Équipe</title>
  </head>
  <body>
    <div class="container py-3 text-center">
      <h1>Voici la fine équipe derrière ce beau projet :</h1>
      <br>
      <h3>Moi.</h3>
      <br>
    </div>
  </body>
</html>
