<html>
  <head>
    <title>Bienvenue</title>
  </head>
  <body>
    <div class="container mt-5 text-center">
      <h1>Bienvenue à toi <%= params['id'].capitalize %> !</h1>
    </div>
  </body>
</html>
