<html>
  <head>
  </head>
  <body>
  
    <div class="jumbotron">
      <h1 class="display-3 text-center" style="color: #053557">La fine équipe derrière ce projet :</h1>
      <p class="lead text-center pt-2 pb-5"> </p>
    </div>
    <div class="container py-5 text-center">
      <br/>
      <h3 class="mt-5">Moi.</h3>
      <br/>
    </div>
  </body>
</html>
